---
layout: layout.liquid
title: Planetary Playing Cards
---

<h1>Planetary Playing Cards</h1>

<div class="system">
    <div class="sun">
        <div class="sunShape"></div>
        <h2>Sun</h2>
        <h2>Type G2V</h2>
    </div>
    <div class="mercury">
        <div class="mercuryShape"></div>
        <h2>Mercury</h2>
        <h2>0.40 AU</h2>
    </div>
    <div class="venus">
        <div class="venusShape"></div>
        <h2>Venus</h2>
        <h2>0.72 AU</h2>
    </div>
    <div class="earth">
        <div class="earthShape"></div>
        <h2>Earth</h2>
        <h2>1.00 AU</h2>
    </div>
    <div class="mars">
        <div class="marsShape"></div>
        <h2>Mars</h2>
        <h2>1.50 AU</h2>
    </div>
    <div class="jupiter">
        <div class="jupiterShape"></div>
        <h2>Jupiter</h2>
        <h2>5.20 AU</h2>
    </div>
    <div class="saturn">
        <div class="saturnShape"></div>
        <h2>Saturn</h2>
        <h2>9.50 AU</h2>
    </div>
    <div class="uranus">
        <div class="uranusShape"></div>
        <h2>Uranus</h2>
        <h2>19.00 AU</h2>
    </div>
    <div class="neptune">
        <div class="neptuneShape"></div>
        <h2>Neptune</h2>
        <h2>30.00 AU</h2>
    </div>
</div>