body{
    font-family: Georgia;
    background: #2a2a2a;
    margin: 40px;
    padding: 20px; 
    
}

h1{
    color:white;
    font-size: 2.5em;
 
}

.system{    
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    text-align: center;
    
}
.sunShape {
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 50%;
    padding: 20px;
}

.sun {
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/15;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: #d9d9d9;
    border-radius: 10px;
    

}
